@import "../../global.scss";

.intro{
    position: absolute;
    display: flex;
    flex-direction: row;
    background-color:$mainColor4;
    
    .left{
        width: 50vw;
        background-color: darkred;
        display: flex;
        align-self:flex-end;
        border-radius: 50%;

        img{
            position: relative;
            top:0;
            max-height: 50%;
            max-width:80%;
        }
    }
    .right{
        background: salmon;
        width: 50vw;
    }

}